In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import statsmodels.api as sm #stastics calculation

In [7]:
df=pd.read_csv("CAR DETAILS FROM CAR DEKHO.csv")

In [8]:
df.head()

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner
0,Maruti 800 AC,2007,60000,70000,Petrol,Individual,Manual,First Owner
1,Maruti Wagon R LXI Minor,2007,135000,50000,Petrol,Individual,Manual,First Owner
2,Hyundai Verna 1.6 SX,2012,600000,100000,Diesel,Individual,Manual,First Owner
3,Datsun RediGO T Option,2017,250000,46000,Petrol,Individual,Manual,First Owner
4,Honda Amaze VX i-DTEC,2014,450000,141000,Diesel,Individual,Manual,Second Owner

In [9]:
df["Age"]=2022-df.year
df.drop(["name","year"],axis=1,inplace=True)
y=df.selling_price
df.drop(["selling_price"],axis=1,inplace=True)
df

      km_driven    fuel seller_type transmission         owner  Age
0         70000  Petrol  Individual       Manual   First Owner   15
1         50000  Petrol  Individual       Manual   First Owner   15
2        100000  Diesel  Individual       Manual   First Owner   10
3         46000  Petrol  Individual       Manual   First Owner    5
4        141000  Diesel  Individual       Manual  Second Owner    8
...         ...     ...         ...          ...           ...  ...
4335      80000  Diesel  Individual       Manual  Second Owner    8
4336      80000  Diesel  Individual       Manual  Second Owner    8
4337      83000  Petrol  Individual       Manual  Second Owner   13
4338      90000  Diesel  Individual       Manual   First Owner    6
4339      40000  Petrol  Individual       Manual   First Owner    6

[4340 rows x 6 columns]

In [10]:
y

0        60000
1       135000
2       600000
3       250000
4       450000
         ...
4335    409999
4336    409999
4337    110000
4338    865000
4339    225000
Name: selling_price, Length: 4340, dtype: int64

In [13]:
f=pd.get_dummies(df.fuel,prefix="Fuel_Type")
s=pd.get_dummies(df.seller_type,prefix="Seller_Type")
t=pd.get_dummies(df.transmission,prefix="Transmission")
o=pd.get_dummies(df.owner,prefix='owner')
df.drop([ 'fuel', 'seller_type','transmission','owner'],axis=1,inplace=True)

In [14]:
X=pd.concat([df,f,s,t,o],axis=1)
X

,km_driven,Age,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Electric,Fuel_Type_LPG,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Seller_Type_Trustmark Dealer,Transmission_Automatic,Transmission_Manual,owner_First Owner,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,70000,15,0,0,0,0,1,0,1,0,0,1,1,0,0,0,0
1,50000,15,0,0,0,0,1,0,1,0,0,1,1,0,0,0,0
2,100000,10,0,1,0,0,0,0,1,0,0,1,1,0,0,0,0
3,46000,5,0,0,0,0,1,0,1,0,0,1,1,0,0,0,0
4,141000,8,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4335,80000,8,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0
4336,80000,8,0,1,0,0,0,0,1,0,0,1,0,0,1,0,0
4337,83000,13,0,0,0,0,1,0,1,0,0,1,0,0,1,0,0
4338,90000,6,0,1,0,0,0,0,1,0,0,1,1,0,0,0,0
4339,40000,6,0,0,0,0,1,0,1,0,0,1,1,0,0,0,0

In [15]:
from xgboost import XGBRegressor
model=XGBRegressor()

In [16]:
model.fit(X,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=4,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [18]:
y_pred=model.predict(X)

In [21]:
from sklearn.metrics import mean_absolute_error,r2_score,
print('MSE:', mean_absolute_error(y,y_pred))
print('R Squre:',r2_score(y,y_pred))

MSE: 97566.68955213134
R Squre: 0.9278081186473667

In [25]:

from sklearn.linear_model import LinearRegression,LogisticRegression,Ridge,Lasso,PoissonRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVR
model_list=[LinearRegression(),LogisticRegression(),Ridge(),Lasso(),PoissonRegressor(),SVR()]
for model in model_list:
    print(str(model))
    model.fit(X,y)
    y_pr=model.predict(X)
    print('MSE:', mean_absolute_error(y,y_pr))
    print('R Squre:',r2_score(y,y_pr))
    print('*'*50)

LinearRegression()
MSE: 229254.77456953816
R Squre: 0.4592567013012139
**************************************************
LogisticRegression()

c:\Users\Ashish\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

MSE: 305924.2629032258
R Squre: -0.124515212289382
**************************************************
Ridge()
MSE: 229325.41335917113
R Squre: 0.4591906482121897
**************************************************
Lasso()

c:\Users\Ashish\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:530: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2704719183604.875, tolerance: 145234417934.1411
  model = cd_fast.enet_coordinate_descent(
c:\Users\Ashish\anaconda3\lib\site-packages\sklearn\_loss\glm_distribution.py:132: RuntimeWarning: divide by zero encountered in true_divide
  return -2 * (y - y_pred) / self.unit_variance(y_pred)
c:\Users\Ashish\anaconda3\lib\site-packages\sklearn\linear_model\_glm\glm.py:43: RuntimeWarning: invalid value encountered in multiply
  temp = d1 * family.deviance_derivative(y, y_pred, weights)
c:\Users\Ashish\anaconda3\lib\site-packages\sklearn\_loss\glm_distribution.py:315: RuntimeWarning: divide by zero encountered in true_divide
  dev = 2 * (xlogy(y, y/y_pred) - y + y_pred)

MSE: 229255.72301521918
R Squre: 0.4592566864873189
**************************************************
PoissonRegressor()
MSE: 324405.05047537654
R Squre: -2.220446049250313e-16
**************************************************
SVR()
MSE: 301296.8836625167
R Squre: -0.07049085140715516
**************************************************

In [23]:
str(LinearRegression())

'LinearRegression()'

In [12]:
from sklearn.preprocessing import MinMaxScaler

mms=MinMaxScaler()
df_v=X.values
df_sca=mms.fit_transform(df_v)
X1=pd.DataFrame(df_sca,columns=X.columns)
X1

,Present_Price,Kms_Driven,Owner,Age,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,0.057109,0.053053,0.0,0.266667,0.0,0.0,1.0,1.0,0.0,0.0,1.0
1,0.099913,0.085085,0.0,0.333333,0.0,1.0,0.0,1.0,0.0,0.0,1.0
2,0.103273,0.012813,0.0,0.066667,0.0,0.0,1.0,1.0,0.0,0.0,1.0
3,0.041504,0.009409,0.0,0.466667,0.0,0.0,1.0,1.0,0.0,0.0,1.0
4,0.070980,0.083984,0.0,0.266667,0.0,1.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
296,0.122237,0.067043,0.0,0.133333,0.0,1.0,0.0,1.0,0.0,0.0,1.0
297,0.060468,0.119119,0.0,0.200000,0.0,0.0,1.0,1.0,0.0,0.0,1.0
298,0.115735,0.175043,0.0,0.600000,0.0,0.0,1.0,1.0,0.0,0.0,1.0
299,0.131990,0.017017,0.0,0.066667,0.0,1.0,0.0,1.0,0.0,0.0,1.0
300,0.060468,0.009938,0.0,0.133333,0.0,0.0,1.0,1.0,0.0,0.0,1.0

In [13]:
model1=LinearRegression()
model1.fit(X1,y)
model1.score(X1,y)

0.8825741581640659